<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- Add Event Page -->

<!DOCTYPE html>
<html>
<head>
	<title>Add Event | Alien Games</title>
	<script src="/static/filterByGames.js"></script>

</head>
<body>
	<!-- Link to hompage -->
	<a href="/index.html">HOME</a>
	<br>
	<a href="/edit_games">BACK</a>
	
	<!-- Header -->
	<h1 class="pageHeader">Add Event</h1>

	<!-- disclaimer -->
	<h4>*Note* to add an event for a particular Alien Games, the Alien Games</h4>
	<h4>entry must have at least one team with at least one athlete already existing</h4>

	<form id="add_event" action="/add_event" method="post">
		<label>Alien Games To Add Event To:
			<select id="add_event_filter" name="gamesID">
				{{#each alien_games}}
					<option value="{{ID}}">{{Year}} {{Season}}</option>
				{{/each}}
			</select>
		<input type="button" value="Submit" onclick="filterAthletesByGamesForEvent()">
		</label>
		<br>
		
		{{#if athletes}}
		<label>Event Name:
			<input type="text" name="name">
		</label>
		<br>

		<label>Gold Winning Time:
			<input type="time" name="goldTime">
		</label>
		<br>
		
		<label>Gold Winner:
			<select name="goldWinner">
				{{#each athletes}}
				<option value="{{Winner}}">{{Athlete}} {{Team}}</option>
				{{/each}}
			</select>
		</label>
		<br>
		<input type="submit" value="Submit">
	</form>
		
		{{/if}}
		
	


<!--
	<form id="select_game" action="/add_event" method="post">
		<label>Games:
			<br>
			<select name="alien_game.name">
				{{#each events}}
				<option value="{{eventID}}">{{name}}</option>
				{{/each}}
			</select>
		</label>
			
		<br>
		<input type="submit" value="Submit">
	</form>

	<form id="select_events" action="/add_event" method="post">
		<label>Event:
			<br>
			<select name="athletes_events.eventID">
				{{#each events}}
				<option value="{{ID}}">{{name}}</option>
				{{/each}}
			</select>
		</label>
			
		<br>
		<input type="submit" value="Submit">
	</form>

	<form id="select_athlete" action="/add_event" method="post">
		 auto populated with athletes that are in the teams that are participating in that years games 

		<label>Athletes:
			<br>
			{{#each athletes_events}}
			<input type="checkbox" name="athletes_events.athleteID" value="{{ID}}">{{Athlete}}</option> 
			<br>
			{{/each}}
		</label>
		<br>
		<input type="submit" value="Submit">
	</form>
	-->
</body>
</html>