<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- Edit Alien Games Homepage -->

<!DOCTYPE html>
<html>
<head>
	<title>Edit | Alien Games</title>
<style>
	body {
		background-color: LightGrey;
	}

	table {
		width: 75%;
		border-collapse: collapse;
		border-bottom: 1px solid #ddd;
	}
	thead{
		background-color: #f2f2f2;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
	}
	th, td{
		height: 50 px;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even){
		background-color: #f2f2f2;
	}

	/* myButton css from https://www.bestcssbuttongenerator.com/ */
	
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	margin-bottom: 7px;
}


.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}
</style>
</head>

<body>
<center>
	<!-- Link to hompage -->
	<a href="/index.html">HOME</a>
	
	<!-- Header -->
	<h1 class="pageHeader">Edit Information for the Alien Games</h1>

	<!-- ADD -->
	<!-- Buttons to link to page to add Games, Events, Athletes, Teams -->
	<!-- Add Alien Games -->
	<form action="add_games">
	    <input type="submit" class="myButton" value="Add Alien Game" />
	</form>

	<!-- Add Event -->
	<form action="add_event">
	    <input type="submit" class="myButton" value="Add Event" />
	</form>

	<!-- Add Team -->
	<form action="add_team">
	    <input type="submit" class="myButton" value="Add Team" />
	</form>

	<!-- Add Athlete -->
	<form action="add_athlete">
	    <input type="submit" class="myButton" value="Add Athlete" />
	</form>

	<!--Associate Athlets With Events-->
	<form action="associate_athletes">
		<input type="submit" class="myButton" value="Associate Athletes">
	</form>

	
	<!-- Display list of selected entity, buttons to update or delete -->
	<!-- same queiries as shown in the view -->


	<!-- Alien Games -->
	<h3 id="games_update_delete" class="queryHeader"><u>Alien Games</u></h3>

	<table id="games_table_all">
		<thead>
			<th>Year</th>
			<th>Season</th>
			<th>Host Country</th>
			<th>Host City</th>
			<th></th>
		</thead>
		<tbody>
			{{#each alien_games}}
			<tr>
				<td>{{Year}}</td>
				<td>{{Season}}</td> 
				<td>{{country}}</td>
				<td>{{city}}</td>
				<!-- <td><button onclick="deleteGames({{ID}})">Delete</button></td> -->
				<td><a href="/edit_games/{{ID}}">Update</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>


	<!-- Events -->

	<h3 id="events_update_delete" class="queryHeader"><u>Events</u></h3>
	<!-- Table to display results of Events query -->
	<table id="events_table_all">
		<thead>
			<th>Event Name</th>
			<th>Year</th>
			<th>Season</th>
			<th>Gold Winner</th> <!-- id of athlete displayed as firstName lastName -->
			<th>Gold Winning Time</th>			
		</thead>
		<tbody>
			{{#each events}}
			<tr>
				<td>{{Event}}</td>
				<td>{{Year}} </td>
				<td>{{Season}}</td> <!-- gamesID used to display games year and eseason -->
				<td>{{GoldWinner}}</td> <!-- id of athlete displayed as firstName lastName -->
				<td>{{Time}}</td>
				<!-- <td><button onclick="deleteEvent({{events.id}})">Delete</button></td> -->
				<!-- <td><a href="update_event.html">Update</a></td> -->
			
			{{/each}}
		</tbody>
	</table>

	<!-- Teams -->
	<h3 id="team_update_delete" class="queryHeader"><u>Team</u></h3>
	<table id="teams_table_edit">
		<thead>
			<th>Team Name</th>
			<th>Year</th>
			<th>Season</th>
			<th>Number of Athletes</th>
			<th>Gold Medals Won</th>
			<th></th>
		</thead>
		<tbody>
			{{#each teams}}
			<tr>
				<td>{{Team}}</td>
				<td>{{Year}} </td>
				<td>{{Season}}</td> <!-- gamesID used to display games year and eseason -->
				<td>{{NumAthletes}}</td>
				<td>{{GoldMedals}}</td>
				<td><button onclick="deleteTeam({{teamID}})" class="myButton" >Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<!-- Athletes -->
	<h3 id="athletes_update_delete" class="queryHeader"><u>Athletes</u></h3>
	<!-- table to display results of athletes query  -->
	<table id="athletes_table_edit">
		<thead>
			<th>Athlete Name</th>
			<th>Team</th>
			<th>Event Name</th>
			<th>Won Gold</th>
			<th></th>
		</thead>
		<tbody>
			
			{{#each athletes}}
			<tr>
				<td>{{Athlete}}</td>
				<td>{{Team}}</td> <!-- team name derived from teamID -->
				<td>{{CompetingEvent}}</td>
				<td>{{WonGold}}</td>
				<td><button onclick="deleteAthlete({{athleteID}})" class="myButton">Delete</button></td>
				<!-- <td><a href="update_team.html/">Update</a></td> -->
			</tr>
			{{/each}}
		</tbody>
	</table>
</center>

</body>
</html>
