<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- Edit Alien Games Homepage -->

<!DOCTYPE html>
<html>
<head>
	<title>Edit | Alien Games</title>

</head>
<style>
	table {
		width: 75%;
		border-collapse: collapse;
		border-bottom: 1px solid #ddd;
	}
	thead{
		background-color: #f2f2f2;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
	}
	th, td{
		height: 50 px;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even){
		background-color: #f2f2f2;
	}
</style>
<body>
	<!-- Link to hompage -->
	<a href="/index.html">HOME</a>
	
	<!-- Header -->
	<h1 class="pageHeader">Edit Information for the Alien Games</h1>

	<!-- ADD -->
	<!-- Buttons to link to page to add Games, Events, Athletes, Teams -->
	<h3>Add Information</h3>
	<!-- Add Alien Games -->
	<form action="add_games">
	    <input type="submit" value="Add Alien Game" />
	</form>

	<!-- Add Event -->
	<form action="add_event">
	    <input type="submit" value="Add Event" />
	</form>

	<!-- Add Team -->
	<form action="add_team">
	    <input type="submit" value="Add Team" />
	</form>

	<!-- Add Athlete -->
	<form action="add_athlete">
	    <input type="submit" value="Add Athelete" />
	</form>

	<!--Associate Athlets With Events-->
	<form action="associate_athletes">
		<input type="submit" value="Associate Athletes">
	</form>

	<!-- UPDATE OR DELETE -->
	<!-- User will select either Games, Events, Atheltes or Teams and then
		the results will be displayed and the user can select to Update or Delete -->
<!--
	<h3>Update or Delete Information</h3>
	<form id="update_delete" acition="/alien_games" method="get">
			Select: 
			<select>
				<option>Alien Games</option>
				<option>Events</option>
				<option>Teams</option>
				<option>Athlete</option>
			</select>
			<input type="submit" value="Submit"></input>	
	</form> 
-->

	<!-- Display list of selected entity, buttons to update or delete -->
	<!-- same queiries as shown in the view -->


	<!-- Alien Games -->
	<h3 id="games_update_delete" class="queryHeader">Alien Games</h3>

	<table id="games_table_all">
		<thead>
			<th>Year</th>
			<th>Season</th>
			<th>Host Country</th>
			<th>Host City</th>
			<th></th>
		</thead>
		<tbody>
			{{#each alien_games}}
			<tr>
				<td>{{Year}}</td>
				<td>{{Season}}</td> 
				<td>{{country}}</td>
				<td>{{city}}</td>
				<!-- <td><button onclick="deleteGames({{ID}})">Delete</button></td> -->
				<td><a href="update_games.html">Update</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>


	<!-- Events -->

	<h3 id="events_update_delete" class="queryHeader">Events</h3>
	<!-- Table to display results of Events query -->
	<table id="events_table_all">
		<thead>
			<th>Event Name</th>
			<th>Year</th>
			<th>Season</th>
			<th>Gold Winner</th> <!-- id of athlete displayed as firstName lastName -->
			<th>Gold Winning Time</th>
			<th></th>			
		</thead>
		<tbody>
			{{#each events}}
			<tr>
				<td>{{Event}}</td>
				<td>{{Year}} </td>
				<td>{{Season}}</td> <!-- gamesID used to display games year and eseason -->
				<td>{{GoldWinner}}</td> <!-- id of athlete displayed as firstName lastName -->
				<td>{{Time}}</td>
				<!-- <td><button onclick="deleteEvent({{events.id}})">Delete</button></td> -->
				<td><a href="update_event.html">Update</a></td>
			
			{{/each}}
		</tbody>
	</table>

	<!-- Teams -->
	<h3 id="team_update_delete" class="queryHeader">Team</h3>

	<table id="teams_table_edit">
		<thead>
			<th>Team Name</th>
			<th>Year</th>
			<th>Season</th>
			<th>Number of Athletes</th>
			<th>Gold Medals Won</th>
			<th></th>
		</thead>
		<tbody>
			{{#each teams}}
			<tr>
				<td>{{Team}}</td>
				<td>{{Year}} </td>
				<td>{{Season}}</td> <!-- gamesID used to display games year and eseason -->
				<td>{{NumAthletes}}</td>
				<td>{{GoldMedals}}</td>
				<!-- <td><button onclick="deleteTeam({{teams.id}})">Delete</button></td> -->
				<td><a href="update_team.html">Update</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

		


	<!-- Athletes -->
	<h3 id="athletes_update_delete" class="queryHeader">Athletes</h3>
	<!-- table to display results of athletes query  -->
	<table id="athletes_table_edit">
		<thead>
			<th>Athlete Name</th>
			<th>Team</th>
			<th>Event Name</th>
			<th>Won Gold</th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			
			{{#each athletes}}
			<tr>
				<td>{{Athlete}}</td>
				<td>{{Team}}</td> <!-- team name derived from teamID -->
				<td>{{CompetingEvent}}</td>
				<td>{{WonGold}}</td>
				<td><button onclick="deleteAthlete({{athleteID}})">Delete</button></td>
				<td><a href="update_team.html/">Update</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>


</body>
</html>
