<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- View Alien Games Homepage -->

<!DOCTYPE html>
<html>
<head>
	<title>View | Alien Games</title>
</head>
<style>
	table {
		width: 75%;
		border-collapse: collapse;
		border-bottom: 1px solid #ddd;
	}
	thead{
		background-color: #f2f2f2;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
	}
	th, td{
		height: 50 px;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even){
		background-color: #f2f2f2;
	}
</style>
<body>
	<!-- Link to hompage -->
	<a href="/index.html">HOME</a>
	
	<!-- Welcome Statement -->
	<h1 class="pageHeader">Alien Games Information</h1>

	<!-- Select Game -->
	<div>
		<h3 class="queryHeader">Select A Game</h3>
		<p>Then choose to view the teams, events, or athletes who competed in that game:</p>
		<!-- Get Form for selecting a Game -->
		<form id="alien_games_select" action="" method="">
			Games: 
			<select id="alien_games_filter" name="alienGames">
				{{#each alien_games}}
				<option value="{{ID}}"> {{Year}} {{Season}}</option>
				{{/each}}
			</select><br>
			<input type="button" value="View Teams" onclick="filterTeamsByGames()">
			<input type="button" value="View Events" onclick="filterEventsByGames()">
			<input type="button" value="View Athletes" onclick="filterAthletesByGames()">
		</form>
	</div>
	
	<!-- Information from selection -->

	<!-- The Events Results displays the event names and their winners for a specific
		alien games that is previously selected by user -->
	{{#if events}}
	<br>
	<!-- Table to display results of Events query -->
	<table id="events_table">
		<thead>
			<th>Event Name</th>
			<th>Year</th>
			<th>Season</th>
			<th>Gold Winner</th>
			<th>Gold Winning Time</th>
		</thead>
		<tbody>
			{{#each events}}
			<tr>
				<td>{{Event}}</td>
				<td>{{Year}} </td>
				<td>{{Season}}</td> <!-- gamesID used to display games year and eseason -->
				<td>{{GoldWinner}}</td> <!-- id of athlete displayed as firstName lastName -->
				<td>{{Time}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{/if}}

	<!-- The Team Results displays the team name, number of athletes, and gold medals won
		for all teams that participated in the alien games previously selected by user -->
	{{#if teams}}
	<br>

	<!-- table to display results of Teams query  -->
	<table id="teams_table">
		<thead>
			<th>Team Name</th>
			<th>Year</th>
			<th>Season</th>
			<th>Number of Athletes</th>
			<th>Gold Medals Won</th>
		</thead>
		<tbody>
			{{#each teams}}
			<tr>
				<td>{{Team}}</td>
				<td>{{Year}} </td>
				<td>{{Season}}</td> <!-- gamesID used to display games year and eseason -->
				<td>{{NumAthletes}}</td>
				<td>{{GoldMedals}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{/if}}

	<!-- The Athlete Results displays the name of the athletes and the name of the events that 
	they participated in. Shows an X if they won he event and nothing if not-->
	{{# if athletes}}
	<br>
		<!-- table to display results of athletes query  -->
	<table id="athletes_table">
		<thead>
				<th>Athlete</th>
				<th>Team</th>
				<th>Event Name</th>
				<th>Won Gold</th>
		</thead>
		<tbody>
			{{#each athletes}}
			<tr>
				<td>{{Athlete}}</td>
				<td>{{Team}}</td> <!-- team name derived from teamID -->
				<td>{{CompetingEvent}}</td>
				<td>{{WonGold}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{/if}}

</body>
</html>
